body {
  margin: 0;
}

div#root {
  margin: 0;
}

div#app {
  margin: 0;
  height: 100vh;
  display: flex;
}

div#canvas {
  flex-grow: 1;
  height: 100vh;
  background-color: #CCCCCC;
}

div#menu {
  flex: 0 0 200px;
  height: 100vh;
  background-color: #FFFFFF;
  box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}
div#square-info {
  background-color: #CCCCCC;
}